// fonts
$logoFont: "Righteous", cursive;
$titleFont: "Josefin Sans", sans-serif;
$priceFont: "Yeseva One", cursive;
$siteFont: "Heebo", sans-serif;

// color
$whiteColr: #fff;
$blackColor: #000;
$starColor: #ffa502;
$color: #a234d9;
$color2: #7830db;
$color3: #30336b;
$bgColor: #ecf0f1;
$shadowColor: #dfe6e9;
$colorSpan: #636e72;

// border
$border: 2px solid $color;
$borderGray: 1px solid $colorSpan;

// transition
$transition: 0.35s all ease-in;
